@import url('https://fonts.googleapis.com/css2?family=Truculenta:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Truculenta', sans-serif;
    line-height: 1.5;
}
h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 1;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: #4b5163;
}
#main {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#photo-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://www.out.com/sites/default/files/2019/08/29/gay-genesx750.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#content {
    color: black;
    z-index: 1;
    text-align: center;
}
#click {
    display: inline-block;
    margin-top: 25px;
    border: 2px solid white;
    padding: 10px 30px;
    background-color: #4b5163;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    opacity: 0.8;
}
#click:hover {
    transform: scale(0.95);
}
#about {
    padding: 50px;
    text-align: center;
}
h2 {
    font-size: 39px;
}
#about h2 {
    margin: 40px 0px;
}
.topnav {
    overflow: hidden;
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
  }
  .topnav a {
    float: left;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 14px 16px;
    font-size: 30px;
    font-weight: bolder;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: blue;
  }
i {
    font-size: 50px;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#one {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);   
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}